h1{
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0px 60px;
  background-color:  #ffffff;    /* 背景色指定 */
  height: 100vh;              /* 高さ指定 */
  width: 100%;               /* 幅指定 */
  position:relative;
}

.contents {
  display: flex;
  width: 100%;
  padding: 12px;
  gap:0px 0.5rem;
  /*justify-content: center;*/
  align-items: center;
}
